astropy>=2.0
Bottleneck>=1.2.1
cycler>=0.10.0
Cython>=0.26
dill>=0.2.7.1
functools32>=3.2.3.post2
gvar>=8.3.2
h5py>=2.7.0
lsqfit>=9.1.3
matplotlib>=2.0.2
numpy>=1.13.1
pp>=1.6.5
py>=1.4.34
pyparsing>=2.2.0
pyregion>=1.2
pytest>=3.1.3
python-dateutil>=2.6.1
pytz>=2017.2
scipy>=0.19.1
six>=1.10.0
subprocess32>=3.2.7
orb_kernel>=3.0.2
