atomicwrites==1.2.1
attrs==18.2.0
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
bleach==3.0.2
certifi==2018.11.29
configparser==3.5.0
cycler==0.10.0
Cython==0.29
decorator==4.3.0
dill==0.2.8.2
entrypoints==0.2.3
enum34==1.1.6
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.2.0
ipaddress==1.0.22
ipykernel==4.10.0
ipympl==0.2.1
ipython==5.8.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyterlab==0.33.11
jupyterlab-launcher==0.11.2
kiwisolver==1.0.1
linecache2==1.0.0
MarkupSafe==1.1.0
mistune==0.8.4
more-itertools==4.3.0
mock==3.0.5
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.7.2
pandocfilters==1.4.2
pathlib2==2.3.2
pexpect==4.6.0
photutils==0.4.1
pickleshare==0.7.5
pluggy==0.6.0
pp==1.6.5
prometheus-client==0.4.2
prompt-toolkit==1.0.15
ptyprocess==0.6.0
py==1.7.0
Pygments==2.2.0
pyparsing==2.3.0
pyregion==2.0
pytest==3.6.4
python-dateutil==2.7.5
pytz==2018.7
pyzmq==17.1.2
qtconsole==4.4.2
scandir==1.9.0
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
subprocess32==3.5.3
terminado==0.8.1
testpath==0.4.2
tornado==5.1.1
traceback2==1.4.0
traitlets==4.3.2
unittest2==1.1.0
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.2
